.padding-10 {
  padding: 10px;
}
@mixin fontMontserrat {
  font-family: "Montserrat", sans-serif;
}
.chat_container {
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: $white;
  grid-column: auto / span 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include fontMontserrat;

  .chat_container-title {
    border-bottom: 1px solid $light-periwinkle;
  }
  .chat_user-active {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;

    .chat_user-active-name {
      font-size: 1.2rem;
      font-weight: 500;
      margin-right: 10px;
    }
    .chat_user-active-status {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 10px 5px;
      background-color: lawngreen;
    }
    span {
      font-size: 0.7rem;
    }
  }
  .chat_container-messages {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    
    .no-messages {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      text-shadow: 0 0 1px $light-periwinkle;
    }
    .message {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      font-size: 0.9rem;
      margin-bottom: 20px;
    }

    img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin: 0 15px;
    }

    .message-text {
      position: relative;
      word-wrap: break-word;
      width: fit-content;
      padding: 10px;
      border-radius: 15px;
      padding: 10px;
      z-index: 1;
      max-width: 60%;
    }
    .message-time {
      margin-top: 10px;
      padding: 0 10px;
      font-size: 0.6rem;
      order: 3;
    }
    @mixin pseudo-message-el {
      position: absolute;
      content: "";
      top: 0;
      width: 20px;
      height: 20px;
      z-index: -1;
    }
    // Styling for other messages
    .other_message {
      justify-content: flex-start;
      img.img_other {
        order: 1;
      }
      .message-text {
        background-color: $light-periwinkle;
        color: $main-color;
        order: 2;
        &::after {
          @include pseudo-message-el;
          left: -8px;
          border-radius: 0 0 0 20px;
          background-color: $light-periwinkle;
        }
      }
      .message-time {
        text-align: right;
      }
    }

    // Styling for user messages
    .user_message {
      justify-content: flex-end;
      img.img_user {
        order: 2;
      }
      .message-text {
        background-color: $platinum;
        order: 1;
        &::after {
          @include pseudo-message-el;
          right: -8px;
          border-radius: 0 0 20px 0;
          background-color: $platinum;
        }
      }
      .message-time {
        text-align: left;
      }
    }
  }
  .chat_container-send {
    border-radius: 10px 0 0 0;
    border-top: 1px solid $light-blue;
    display: flex;
    flex-direction: row;

    .chat_container-input {
      width: 100%;
      padding: 0 5px;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      input {
        border: none;
        border-radius: 10px;
        outline-color: $white;
        width: 100%;
        height: 1.4rem;
        font-size: 0.9rem;
        padding: 5px;
        @include fontMontserrat;
      }
    }
    .send-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      justify-self: flex-end;
      width: 100px;
      border: none;
      background-color: darken($white,5%);
      border-radius: 15px;
      &:hover, &:active {
        background-color: $platinum;
        box-shadow: 0 0 5px rgba(darken($darker-blue, 10%),.05);
        cursor: pointer;
        color: darken($darker-blue, 20%);
        &:hover svg {
          font-size: 18px;
          color: darken($darker-blue,10%);
        }
      }
      svg {
        width: 100%;
        padding: 5px;
        color: $darker-blue;
        transition: font-size 0.5s ease;
      }
    }
  }
}
