.padding-10 {
  padding: 10px;
}
@mixin fontMontserrat {
  font-family: "Montserrat", sans-serif;
}
.chat_container {
  background-color: $white;
  grid-column: auto / span 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include fontMontserrat;

  .chat_container-title {
    border-bottom: 1px solid $light-periwinkle;
  }
  .chat_user-active {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;

    .chat_user-active-name {
      font-size: 1.2rem;
      font-weight: 500;
      margin-right: 10px;
    }
    .chat_user-active-status {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 10px 5px;
      background-color: lawngreen;
    }
    span {
      font-size: 0.7rem;
    }
  }
  .chat_container-messages {
    height: 100%;

    .message {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      font-size: 0.9rem;
      margin-bottom: 20px;
    }

    img {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin: 0 15px;
    }

    .message-text {
      position: relative;
      word-wrap: break-word;
      width: fit-content;
      padding: 10px;
      border-radius: 15px;
      padding: 10px;
      z-index: 1;
      max-width: 60%;
    }
    .message-time {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 0.6rem;
        order: 3;
      }
    @mixin pseudo-message-el {
      position: absolute;
      content: "";
      top: 0;
      width: 20px;
      height: 20px;
      z-index: -1;
    }
    // Styling for other messages
    .other_message {
      justify-content: flex-start;
      img.img_other {
        order: 1;
      }
      .message-text {
        background-color: $light-periwinkle;
        order: 2;
        &::after {
          @include pseudo-message-el;
          left: -8px;
          border-radius: 0 0 0 20px;
          background-color: $light-periwinkle;
        }
      }
      .message-time {
        text-align: right;
    }
    }

    // Styling for user messages
    .user_message {
      justify-content: flex-end;
      img.img_user {
        order: 2;
      }
      .message-text {
        background-color: $platinum;
        order: 1;
        &::after {
          @include pseudo-message-el;
          right: -8px;
          border-radius: 0 0 20px 0;
          background-color: $platinum;
        }
      }
      .message-time {
          text-align: left;
      }
    }

    .chat_container-send {
      background-color: lightsalmon;
    }
  }
}
